{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" id="bootstrap-css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<h2>Perfil</h2>
<div>
    <h2>Ajustes</h2>
    
    <table>
        <tr>
            <td>Id:</td>
            <td>{{ account['id'] }}</td>
        <tr>
            <td>Nombres:</td>
            <td>{{ account['nombres'] }}</td>
        <tr>
            <td>Apellidos:</td>
            <td>{{ account['apellidos'] }}</td>

        <tr>
            <td>Cedula:</td>
            <td>{{ account['cedula'] }}</td>
        <tr>
            <td>Username:</td>
            <td>{{ account['usuario'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        <tr>
            <td>Telefono:</td>
            <td>{{ account['telefono'] }}</td>
        </tr>
        
    </table>
    <a href="{{url_for('editar')}}" class="btn" role="button">Editar Perfil</a>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}