
<table class="table table-bordered ">
    <thead class="thead-primary">
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Hora Ingreso</th>
            <th>Hora Salida</th>
            <th>Horas Extras</th>
            <th>TotalHoras</th>       
        </tr>
        {% for row in ordersrange %}
        <tr>
            <td>{{row[0] }}</td>
            <td>{{row[1] }}</td>
            <td>{{row[2] }}</td>
            <td>{{row[3] }}</td>
            <td>{{row[4] }}</td>
            <td>{{row[5] }} H</td>
           
        </tr>
        {% endfor %}
    </table> 
  